#side{
    width: 29%:
border-right: black solid 5px;
    float: left;
}

#main{
width: 70%;

float: right;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color:lightgrey;
    height: 50px;
}

nav li{
    display: inline-block;
    width: 20%;
    margin-right:-4px;
}

#topbox{
    padding: 5px;
    text-align: center;
}